In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as mp

In [4]:
df = pd.read_csv('E:\FF\Data Analysis\Project 8 - Pandas\london_merged.csv')
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [6]:
df.shape

(17414, 10)

In [7]:
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [8]:
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [9]:
new_cols_dict ={
    'timestamp':'tiempo',
    'cnt':'enumerar', 
    't1':'temp_C',
    't2':'sensacion_termica_C',
    'hum':'porcentaje_humedad',
    'wind_speed':'velocidad_viento_kmph',
    'weather_code':'clima',
    'is_holiday':'feriado',
    'is_weekend':'fin_de_semana',
    'season':'estacion'
}

df.rename(new_cols_dict, axis=1, inplace=True)

In [12]:
df.porcentaje_humedad = df.porcentaje_humedad / 100

In [14]:
season_dict = {
    '0.0':'primavera',
    '1.0':'verano',
    '2.0':'otoÃ±o',
    '3.0':'invierno'
}

weather_dict = {
    '1.0':'Despejado',
    '2.0':'Nubes Dispersas',
    '3.0':'Mayormente nublado',
    '4.0':'Nublado',
    '7.0':'Lluvia',
    '10.0':'Tormenta',
    '26.0':'Nieve'
}

df.estacion = df.estacion.astype('str')

df.estacion = df.estacion.map(season_dict)


df.clima = df.clima.astype('str')

df.clima = df.clima.map(weather_dict)

In [15]:
df.head()

,tiempo,enumerar,temp_C,sensacion_termica_C,porcentaje_humedad,velocidad_viento_kmph,clima,feriado,fin_de_semana,estacion
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Mayormente nublado,0.0,1.0,invierno
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Despejado,0.0,1.0,invierno
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Despejado,0.0,1.0,invierno
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Despejado,0.0,1.0,invierno
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Despejado,0.0,1.0,invierno

In [16]:
df.to_excel('london_bikes_final.xlsx', sheet_name='Data')